$f-main: 'Halant', sans-serif;
$f-secondary: 'Poppins', sans-serif;

$c-white: #FFFFFF;
$c-black-font: #1a1919;
$c-grey-font: #1a1919;
$c-dark-blue: #0F111D;
$c-pink: #E85F63;

$border-radius: 5px;


